*{
margin: 0;
}

body {
background-color: #ffffff;
font-family: Archer, Optima, Helvetica, Times, Courier;
font-size: 1.5rem; 
margin: 40px 60px 60px 60px;
}

.profilepic {
	border-radius: 200px; 
	height: 200px; 
	width: 200px;
	}

div{
	margin: 35px;
}

.name
{
	font-size: 9rem;
}


.link
{
	font-size: 1.2rem;
	text-align: center;
	border: solid 1px #0797ab;
	padding: 20px 50px;
}


.link:hover {
	color:darkgreen;
	background-color: antiquewhite;
}
.special-divider {
	text-align: center;
}


@media screen and (max-width: 320px) {
    /*apply rules for phone*/
    .name {
		font-size: 2rem;
	}

}

@media screen and (max-width: 600px) {
    /*apply rules for ipad*/
    .name {
		font-size: 4rem;
	}
}